# API配置
OPENAI_API_KEY=<open_api_key>
ZHIPU_API_KEY=<zhipu_api_key>

# 应用配置
FLASK_DEBUG=true
DEFAULT_MAX_PAGES=5 


DEFAULT_PROMPT_TEMPLATE = "请将以下主题分解为{max_pages}页PPT内容，每页包含： \\
1. 页标题（用#标记）\\
2. 3-5个核心要点（用-标记）\\
3. 每页内容的总结（用##标记,100字以内） \\
\\
请严格使用以下格式返回：\\
# <插入生成页标题> \\
## <插入页主题简要描述> \\
- 要点1 \\
- 要点2 \\
... "

DESC_PROMPT = "请根据以下PPT页面内容： \\
标题：{title} \\
要点：{points} \\
 \\
1. 生成一段100字内的内容摘要 \\
2. 生成用于文生图模型的英文提示词（包含视觉元素和风格描述） \\
请用以下格式返回： \\
摘要：[内容] \\
提示：[提示词]" 

# 认证配置
AUTH_USERNAME=<username>
AUTH_PASSWORD_HASH=pbkdf2:sha256:260000$...  # 使用generate_password_hash生成

